USE [master]
GO
/****** Object:  Database [alumnos]    Script Date: 02/07/2021 23:44:11 ******/
CREATE DATABASE [alumnos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'alumnos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\alumnos.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'alumnos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\alumnos_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [alumnos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [alumnos]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 02/07/2021 23:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[Codigo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Sexo] [varchar](10) NOT NULL,
	[Edad] [varchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
